@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	font-family: 'Lato', sans-serif;
}


body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	padding: 1em;
	background-color: #EFEFEF;
	color: #232323;
	border-radius: 4px;
	border: none;
	margin: 0.25em;
}

.blueButton {
	background-color: blue;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.blueButton:active {
	border: 2px outset white;
	color: white;
}

.redButton {
	background-color: red;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.redButton:active {
	border: 2px outset white;
	color: white;
}

.yellowButton {
	background-color: yellow;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.yellowButton:active {
	border: 2px outset white;
	color: white;
}

.column {
	float: left;
	width: 33.33%;
}

.test {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-left: -500px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 25px;
	margin-bottom: 0;
}


h1,
h2 {
	text-align: center;
}

h2 {
	text-decoration: underline;
}

h3 {

	color: black;
	background-color: white;
}

h4 {
	color: grey;
}

h5 {
	font-size: 20px; 
	display:inline-block;
	margin-right:240px;
	margin-bottom: 20px;
	margin-top: 20px;
}
h6 {
	font-size: 20px; 
	display:inline-block;
	margin-right:167px;
	margin-bottom: 10px;
	margin-top: 5px;
}
h7 {
	font-size: 20px; 
	display:inline-block;
	margin-right:105px;
	margin-bottom: 10px;
	margin-top: 5px;
}
h8 {
	font-size: 20px; 
	display:inline-block;
	margin-right:245px;
	margin-bottom: 20px;
	margin-top: 20px;
}
h9 {
	font-size: 20px; 
	display:inline-block;
	margin-right:120px;
	margin-bottom: 10px;
	margin-top: 5px;
}

scores {
	text-align: left;

}

p {
	width: 120px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
}

p2 {
	width: 600px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
}

blog_title {
	background-color: white;
	color: black;
	width: 800px;
	font-size: 25px;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
}

blog_date {
	background-color: white;
	color: black;
	width: 800px;
	font-size: 12px;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
}

blog {
	background-color: white;
	color: grey;
	width: 800px;
	font-size: 15px;
	line-height: 1.5em;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

backstory {
	background-color: white;
	color: grey;
	width: 800px;
	font-size: 15px;
	line-height: 1.5em;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	word-wrap: normal;
}

objective {
	background-color: white;
	color: black;
	width: 800px;
	font-size: 18px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.gameArt {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}

.middle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.right {
	position: fixed;
	right: 20px;
	top: 20px;
}

.hot {
	position: fixed;
	top: 200px;
}

.spaceRace {
	position: fixed;
	top: 200px;
	left: 450px;
}

.comingSoon {
	position: fixed;
	right: 450px;
	top: 200px;
}

.gameMenuBack {
	position: fixed;
	top: 400px;
}

.leftScoreScreen {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	gap: 10px;
	margin-top: 20px;
}

.rightScoreScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.aligned {
	display: flex;

	float: left;
}

.button-wrapper {
	width: 200px;
	height: 200px;
	text-align: center;
	display: inline-block;
	margin: 0px;
	padding: 0px
}


button2 {
	padding: 10px;
	background-color: green;
	color: white;
}

span {
	padding: 1px;
}

input {
	padding: 0.5em;
	width: 300px;
}

canvas {
	border: solid 2px white;
}

#logo {
	height: 300px;
}